<form (ngSubmit)="onSignInSubmit()" #f="ngForm">
  <div class="row">
    <div class="input-field col s12">
      <input type="email" id="email" name="email" class="validate" [(ngModel)]="signInUser.email">
      <label for="email">Email</label>
    </div>

    <div class="input-field col s12">
      <input type="password" id="password" name="password" class="validate" [(ngModel)]="signInUser.password">
      <label for="password">Password</label>
    </div>

    <div class="col s12">
      <button type="submit" [disabled]="!f.valid"
              [ngClass]="{'disabled': !(f.valid)}"
              class="waves-effect waves-light btn blue right">Login</button>
    </div>
  </div>
</form>
